<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head th:replace="~{fragments/header :: header('Manage Offers')}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body sec:authorize="hasRole('ADMIN')">
<div class="container">
    <h1>Manage Food Offers</h1>
    <div id="myGrid" class="ag-theme-alpine"></div>  <!-- Use ag-Grid or table -->
    <!-- TODO: Fetch and display all offers with edit/delete -->
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>
