<footer th:fragment="footer" class="footer" xmlns:th="">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-heart text-danger"></i> Food Donation App</h5>
                <p>Connecting communities to reduce food waste and help those in need.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <p><i class="fas fa-envelope"></i> abhishekcu82@gmail.com</p>
                <p><i class="fas fa-phone"></i> +91 8228974562</p>
                <div class="mt-3">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p>&copy; 2025 Food Donation App. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        </div>
    </div>
</footer>
